*,
html {
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(32, 218, 79);
}
.navbar {
    background-color: rgb(0, 0, 0);
    width: 100%;
}  
.ul-Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    border: 10px rgb(155, 50, 50) solid;
    list-style-type: none;
    padding: 10px ;
    margin: 5px;
    color: red
}
.footer{
    background-color: red;
    font-size: 200%;
}
